{% extends "layouts/base.html" %} {% block content %}
<div class="container">
  <h1>Acerca de la Aplicación</h1>
  <div class="subtitle">
    Esta aplicación ha sido desarrollada como un ejemplo de gestión de proyectos
    y tareas utilizando Django.
  </div>
  <ul class="about-list">
    <li>Permite visualizar y administrar proyectos.</li>
    <li>Gestiona tareas asociadas a cada proyecto.</li>
    <li>Interfaz sencilla, moderna y fácil de usar.</li>
    <li>Desarrollada con Django y tecnologías web modernas.</li>
  </ul>
  <div style="margin-top: 30px">
    <a href="/" class="btn">Volver al inicio</a>
  </div>
</div>
{% endblock %}
